Assistente Financeiro V3 - Pro 3.0 atualizado.json
{
  "name": "Assistente Financeiro V3 - Pro",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "Hoje é {{ $now.format('yyyy-MM-dd') }}.\n\nVocê é um assistente financeiro simpático.\n⚠️ IMPORTANTE: O registro dos gastos está sendo feito por um sistema automático em paralelo. Você NÃO precisa inserir nada no banco de dados.\n\nSUAS FUNÇÕES PRINCIPAIS:\n1. Ser simpático quando o usuário informar um gasto.\n2. Consultar dados APENAS quando o usuário perguntar explicitamente.\n3. Garantir precisão matemática usando suas ferramentas.\n\n🛠️ USO DE FERRAMENTAS MATEMÁTICAS:\n- Se a interação envolver QUALQUER cálculo matemático (somas, subtrações, divisões, porcentagens), você deve OBRIGATORIAMENTE usar a ferramenta \"Calculator\".\n- Não tente realizar cálculos mentais, use a ferramenta para garantir precisão.\n\n⛔ REGRAS DE BLOQUEIO (LEIA COM ATENÇÃO):\n\nCASO 1: O usuário diz \"Gastei X\", \"Comprei Y\", \"Paguei Z\"\n- AÇÃO: Responda APENAS com uma confirmação curta.\n- PROIBIDO: 🚫 JAMAIS chame a ferramenta \"CONSULTAR O BANCO\" ou \"Calculator\" neste caso específico (pois o registro é automático). Não verifique saldo.\n- RESPOSTA PADRÃO: \"Combinado! Já está anotado. ✅\" ou \"Beleza, registrei aqui! 👊\"\n\nCASO 2: O usuário pergunta \"Resumo\", \"Relatório\", \"Quanto gastei?\", \"Qual a média?\"\n- AÇÃO: Agora sim, use a ferramenta \"CONSULTAR O BANCO\" para pegar os dados.\n- CÁLCULOS: Se precisar somar o que veio do banco ou fazer médias, acione a \"Calculator\".\n- RESPOSTA: Agrupe os gastos por categoria e mostre o total.\n\nResumo final: Se for INPUT de dinheiro, NÃO consulte nada e nem calcule nada. Apenas confirme. Se for PERGUNTA, use as ferramentas à vontade."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -800,
        -144
      ],
      "id": "c9c199f2-61e5-4f31-8856-de5d35fa7e6d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -992,
        96
      ],
      "id": "e757a079-f148-4853-9c03-56ccceda5b1b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "UkBDilJROczeGw7e",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use esta ferramenta para consultar despesas. Tabela: transacoes.",
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "transacoes"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -528,
        96
      ],
      "id": "6629d1f5-8668-446a-87d3-f87c05e9bfc9",
      "name": "CONSULTAR O BANCO",
      "credentials": {
        "postgres": {
          "id": "bV2NXDp0Xrl9LjsI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1584,
        -48
      ],
      "id": "cee4f6ef-626d-46f2-829e-bcd322b25c78",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "mensagem",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "afed80e5-3edd-4886-b969-79d9fee1449a",
      "name": "Preparar Mensagem",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -784,
        -336
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.mensagem }}",
        "attributes": {
          "attributes": [
            {
              "name": "valor",
              "type": "number",
              "description": "Valor monetário da transação. CRÍTICO: Se a mensagem for uma pergunta (ex: 'quanto gastei', 'resumo'), uma saudação, ou não contiver um gasto explícito, VOCÊ DEVE RETORNAR 0 ou null. PROIBIDO INVENTAR NÚMEROS."
            },
            {
              "name": "categoria_sugerida",
              "description": "Classifique a despesa estritamente em uma destas opções: Alimentação, Transporte, Vestuário, Lazer, Saúde, Moradia, Educação ou Outros. Escolha a que melhor se adapta ao contexto (ex: Farmácia é Saúde, Supermercado é Alimentação)."
            },
            {
              "name": "descricao",
              "description": "Se não houver gasto claro, retorne string vazia."
            }
          ]
        },
        "options": {}
      },
      "id": "32671ed9-b8bc-49a8-9aa3-ad608cfc3d7b",
      "name": "Extrair Dados da Despesa",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -496,
        -320
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "usuario_id",
              "value": "00000000-0000-0000-0000-000000000000",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "valor",
              "value": "={{ $json.output.valor ?? 0 }}",
              "type": "number"
            },
            {
              "id": "id-3",
              "name": "tipo",
              "value": "saida",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "categoria_sugerida",
              "value": "={{ $json.output.categoria_sugerida ?? \"Outros\" }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "meta_dados",
              "value": "={{ JSON.stringify({ \"descricao\": $json.output.descricao }) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "ed5d9a12-401b-4952-920a-ab5dfb449dcc",
      "name": "Preparar Campos DB",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        -320
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "name",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "transacoes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "usuario_id": "={{ $json.usuario_id }}",
            "valor": "={{ $json.valor }}",
            "tipo": "={{ $json.tipo }}",
            "categoria_sugerida": "={{ $json.categoria_sugerida }}",
            "meta_dados": "={{ $json.meta_dados }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "usuario_id",
              "displayName": "usuario_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "valor",
              "displayName": "valor",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_ref",
              "displayName": "data_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "categoria_sugerida",
              "displayName": "categoria_sugerida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "meta_dados",
              "displayName": "meta_dados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "criado_em",
              "displayName": "criado_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e6168de8-0dbc-4b99-a45f-4c13d21786e9",
      "name": "Inserir no Banco",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        32,
        -320
      ],
      "credentials": {
        "postgres": {
          "id": "bV2NXDp0Xrl9LjsI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "44158b68-5dc6-4b99-8c0a-e5af2107a6dc",
      "name": "OpenAI Model para Extração",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -224,
        -144
      ],
      "credentials": {
        "openAiApi": {
          "id": "UkBDilJROczeGw7e",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.metadata.phone_number_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -816,
        96
      ],
      "id": "7f17e6bd-f776-47da-96ee-ae021ed1280c",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "bV2NXDp0Xrl9LjsI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1088,
        -288
      ],
      "id": "31f04041-03b7-4c5a-8c12-41c6b65e3a80",
      "name": "WhatsApp Trigger",
      "webhookId": "b6d5af8e-c681-485c-a908-66e00a629386",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "FrJOcerVjunwA7oB",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "740050119202275",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -448,
        -80
      ],
      "id": "fefcaabf-aff8-4469-9cd9-29e335be1aeb",
      "name": "Send message",
      "webhookId": "38e5b62a-412d-4cb8-b70d-f3498bbfc44d",
      "credentials": {
        "whatsAppApi": {
          "id": "2neQX3azdVnlZi32",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -656,
        112
      ],
      "id": "e9d0bfce-f102-455d-9bdb-11921185a85e",
      "name": "Calculator"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- 1. Remove a View (se existir)\nDROP VIEW IF EXISTS view_resumo_diario CASCADE;\n\n-- 2. Remove as Tabelas (se existirem)\nDROP TABLE IF EXISTS transacoes CASCADE;\nDROP TABLE IF EXISTS usuarios CASCADE;\nDROP TABLE IF EXISTS n8n_chat_histories CASCADE; -- Remove a memória do chat\n\n-- Opcional: Remove a extensão pgcrypto se quiser reinstalar\n-- DROP EXTENSION IF EXISTS \"pgcrypto\";",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1424,
        144
      ],
      "id": "5ddf4ddf-fb84-472f-a2d0-387d00748568",
      "name": "LIMPAR TODO O BANCO",
      "credentials": {
        "postgres": {
          "id": "bV2NXDp0Xrl9LjsI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- 1. Habilita a extensão para gerar UUIDs\nCREATE EXTENSION IF NOT EXISTS \"pgcrypto\";\n\n-- 2. Tabela de Usuários\nCREATE TABLE IF NOT EXISTS usuarios (\n    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),\n    canal_origem VARCHAR(50) NOT NULL,\n    id_externo VARCHAR(255) NOT NULL,\n    nome_exibicao VARCHAR(255),\n    criado_em TIMESTAMPTZ DEFAULT NOW(),\n    UNIQUE(canal_origem, id_externo)\n);\n\n-- 3. INSERE O USUÁRIO DE TESTE (CRUCIAL PARA O AGENTE)\nINSERT INTO usuarios (id, canal_origem, id_externo, nome_exibicao)\nVALUES ('00000000-0000-0000-0000-000000000000', 'teste', 'teste_chat', 'Usuario Teste')\nON CONFLICT (canal_origem, id_externo) DO NOTHING;\n\n-- 4. Tabela de Transações\nCREATE TABLE IF NOT EXISTS transacoes (\n    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),\n    usuario_id UUID NOT NULL REFERENCES usuarios(id) ON DELETE CASCADE,\n    valor NUMERIC(12, 2) NOT NULL,\n    tipo VARCHAR(20) NOT NULL CHECK (tipo IN ('entrada', 'saida')), \n    data_ref TIMESTAMPTZ NOT NULL DEFAULT NOW(),\n    categoria_sugerida VARCHAR(100),\n    meta_dados JSONB DEFAULT '{}'::jsonb, \n    criado_em TIMESTAMPTZ DEFAULT NOW()\n);\n\n-- 5. Criação de Índices\nCREATE INDEX IF NOT EXISTS idx_transacoes_usuario ON transacoes(usuario_id);\nCREATE INDEX IF NOT EXISTS idx_transacoes_data ON transacoes(data_ref);\n\n-- 6. View de Analítica\nCREATE OR REPLACE VIEW view_resumo_diario AS\nSELECT \n    usuario_id,\n    DATE(data_ref) as dia,\n    categoria_sugerida,\n    COUNT(*) as qtd_transacoes,\n    SUM(valor) as total_gasto\nFROM transacoes\nWHERE tipo = 'saida'\nGROUP BY usuario_id, DATE(data_ref), categoria_sugerida;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1408,
        -48
      ],
      "id": "c4ee1850-e99c-46ef-8a42-2f9b016e4bdb",
      "name": "CRIAR AS TABELAS",
      "credentials": {
        "postgres": {
          "id": "bV2NXDp0Xrl9LjsI",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "CONSULTAR O BANCO": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "CRIAR AS TABELAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensagem": {
      "main": [
        [
          {
            "node": "Extrair Dados da Despesa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model para Extração": {
      "ai_languageModel": [
        [
          {
            "node": "Extrair Dados da Despesa",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados da Despesa": {
      "main": [
        [
          {
            "node": "Preparar Campos DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Campos DB": {
      "main": [
        [
          {
            "node": "Inserir no Banco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Preparar Mensagem",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "eb817a23-c345-4c12-96f5-02dd77f393c2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7d2689d3981dbb82aa6472cad37dec64e6149713c563c2747108f1e1d142702a"
  },
  "id": "TTd76pZOkDWoQXaj",
  "tags": []
}